.comic-title {
    color: dodgerblue;
    padding: 10px 0;
}

.comic-p {
    color: black;
    padding: 10px 0;
}

.comic-price {
    color: green;
    padding: 10px 0;
}

.comic-body {
    background-color: white;
}